:root {
    --background-section2-section3-rozDeschis: #FFB8CA;
    --background-section2-roz-inchis: #FFA5BA;
    --background-section3-section7-bej: #F0D1A5;
    --background-section3-section7-verde: #C2E297;
    --backround-sec4-sec5-sec7-sec8-rozAlbit: #FFF5F6;
    --bacground-buttonWhite-sec1-sec2-sec4-sec7: #FFFFFF;
    --background-buttonRed-section2-section7: #D41443;
    --backgoundSVG-footer: #FEA5BB;
    --background-modal: #E18298;
    --underline-color: #E1E1E1;

    --font-color-white: #FFFFFF;
    --font-color-red: #D41443;
    --font-color-pink: #FFA5BA;
    --font-color-footer-Grey: #907E82;
}

@font-face {
    font-family: "DM Sans";
    src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
}

@font-face {
    font-family: "Titan One";
    src: url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
      background-color: #f0f0f0;}
 

.centered-image {
    width: 85px;
   
    height: 85px;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
       
    
}